<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CallCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        </sectionGroup>        
    </configSections>
    <userSettings>
        <CallCRM.Properties.Settings>
            <setting name="AccessPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>36.7.68.136</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>openpg</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>openpgpwd</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>itms</value>
            </setting>
        </CallCRM.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>LightGray</value>
            </setting>
        </DXThemeManager>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
